html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
#sec02{
    display: flex;
    flex-direction: row;
}

h2{
    font-size:20px;
}

p{
    font-size:12px;
    padding: 8px 25px;
}
#div1{
    background-color: darkgoldenrod;
    width: 200vh;
    height: 50vh;
}
/*small apllication*/
#con1{
    background-color:darkgrey;
    color:white;
    width: 200vh;
    height: 50vh;
}
/*BMI CALCULATOR USINF=G DOM */
#con2{
    width: 200vh;
    height: 50vh;
    background-color: aqua;
}
#con2 button{
    width: 50px;
    height: 30px;
    margin-top: 25px;
    padding-right: 50px;
    padding-left: 5px;
    border-radius: 2px;
}
p{
    font-size: 30px;
}
/*calculate tip */
#con3{
    width: 200vh;
    height: 50vh;
    text-align: center;
    background-color: darkcyan;
}
#p1{
    font-size: 20px;
}
#p2{
    font-size: 20px;
}

/* adding new elements in html using dom  */
#sec03{
    display: flex;
    flex-direction: row;
}
#sec03 #div01{
    width: 200vh;
    height: 50vh;
    text-align: center;
}
#sec03 #div01{
    width: 200vh;
    height: 50vh;
    text-align: center;
    background-color: cyan;
}
/* adding new student */
#sec03 #div02 {
   text-align: center;
   width: 200vh;
   height: 50vh;
   align-items: center;
   background-color: chocolate;
}
#sec03 #div02 #add1{
    background-color: white;
}
#sec03 #div02 ul li{
    list-style: none;
}
/* adding element class inside html using dom */
#sec03 #div03{
    align-items: center;
    text-align: center;
    width: 200vh;
    height: 50vh;
    background-color: chartreuse;
}
.yellow{
    color:blue

}

/* TO Do List assignment */
.form {
    background-color: #eee;
    border-radius: 6px;
    padding: 20px;
    display: flex;
    align-items: center;
}
#input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    flex: 1;
}
#input:focus , .add:focus{
    outline: none;
}
#add {
    border: none;
    background-color: #389dff;
    color: white;
    padding: 10px;
    border-radius: 6px;
    margin-left: 10px;
    cursor: pointer;
}